.comment_display_1{
    padding: 10px 25px;
}
.comment_display_2{
    padding-top: 2px;
    padding-left: 24px;
}
.comment_21{
    font-size: 15px;
    margin-top: 3px;
    margin-bottom: -5px;
    margin-left: 3px;
}